<form (submit)="submit()">
  <h3>New Contribution</h3>

  <section class="person">
    <select>
      <option *ngFor="let person of people">{{person.name}}</option>
    </select>
  </section>

  <section class="skills">
    <h3>Technologies</h3>
    <div class="skill" *ngFor="let selectableTech of technologies">
      <input type="checkbox" name="skill-cb" [(ngModel)]="selectableTech.selected">
      <label>{{selectableTech.technology?.name}}</label>
    </div>
  </section>

  <button type="submit">Submit</button>
</form>
