@import '../../styles.scss';

.skills {
  .skill {
    display: flex;
    flex-flow: row;
    margin-top: 8px;
    margin-bottom: 8px;
    align-items: center;

    input[type="checkbox"] {
      width: 16px;
      height: 16px;
    }

    label {
      padding: 0;
      margin: 0 0 0 8px;
    }
  }
}

h4 {
  text-align: center;
  padding-top: 8px;
}

input[type="checkbox"] {
  margin-right: 8px;
}

select {
  @extend .form-control;
}

input[type="input"] {
  @extend .form-control;
}

button[type="submit"] {
  @extend .btn, .btn-primary;
  width: 100%;
  marngi-top: 16px;
}

.date-row {
  display: flex;
  flex-flow: row;
  margin: 8px auto;

  label {
    flex-basis: 25%;
  }

  input {
    flex: 1;
  }
}
