@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background: #f8f8f8;
}

h1, h2, h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

p {
  padding: 0;
  margin: 8px 0;
}
